AUTH_SECRET="replace-with-openssl-rand-base64-32"
AUTH_GOOGLE_ID="your-google-client-id"
AUTH_GOOGLE_SECRET="your-google-client-secret"
AUTH_URL="http://localhost:3000"
DATABASE_URL="postgresql://user:password@host:5432/fathly?sslmode=verify-full"
